header {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    height: auto;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: auto;
    font-family: 'Girassol', cursive;
    /* font-family: 'IM Fell English SC', serif; */
    color: rgb(145, 9, 9);
    background-color: rgba(221, 204, 164, 0.74);
    border: black 3px solid;
    border-radius: 0px 0px 15px 15px;
    
}

body {
    margin-top: 0px;
    margin-bottom: 20px;
    background: url(./images/cart-map.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: cover;
}

#domestic {
    background-color: rgba(221, 204, 164, 1);
    font-family: 'Girassol', cursive;
    background: url(./images/cart-map.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: cover;
}

#domText {
    background-color: rgba(221, 204, 164, 1);
    color: blue;
}

#domHome {
    width: 6%;
    background-color: rgba(221, 204, 164, 1);
    color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

li {
    float: left;
  }

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }  
li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }

li.dropdown {
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(221, 204, 164, 1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border:black 2px solid;
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
  }

section {
    width: 1085px;
    font-family: 'Girassol', cursive;
    color: rgb(145, 9, 9);
    background-color: rgba(221, 204, 164, 0.74);
    border: black 3px solid;
    border-radius: 15px 15px 15px 15px;
}
figure {
    color: rgb(145, 9, 9);
    border: black 3px solid;
    background-color: rgba(221, 204, 164, 0.74);
}
figcaption {
    color: black;
    font-size: 14px;
}
#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0px 0px 15px 5px;
    height: 20px;
    width: 100px;
    font-size: 14px;
    color: red;
    border: black 2px solid;
    background-color: rgba(221, 204, 164, 0.74);
    border-radius: 15px 15px 15px 15px;
}







  


/* window.addEventListener('load', function() {
    let displayButton = document.getElementById('displayButton');
    let displayText = document.getElementById('displayText');
    displayButton.addEventListener('click', function(){
        if (displayText.style.display === 'none') {
            displayText.style.display = 'block';
            displayButton.innerHTML = 'Hide Text';
        }else {
            displayText.style.display = 'none';
            displayButton.innerHTML = 'Show Text';
        } */

